<html>
  <head>
    {% if title %}
      <title>{{ title }}</title>
    {% else %}
      <title>Welcome to the DevFun homepage!</title>
    {% endif %}
    <link rel="stylesheet" href="/static/css/devfun.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body>
    <div>
      <a href="/"><img id="logo" src="/static/images/devfun.jpg" alt=""></a>
      <p id="devfun">DevFun</p>
    </div>
    {% block content %}
    {% endblock %}
    {{ output }}
  </body>
</html>
