{% extends "base.html" %}
{% block content %}

  <h3>{{ post.title }}</h3>

  {% if post.url.endswith('png') or post.url.endswith('jpg') %}
    <img src="{{ post.url }}" alt="{{ post.title }}">
  {% else %}
    <h4>url for this post is: <a href="{{ post.url }}">here!</a></h4>
  {% endif %}

  {% for comment in comments %}
    <h4>{{ comment.creator }}</h4>
    <h3>{{ comment.content }}</h3>
    <h3>------------</h3>
  {% endfor %}

  <form action="/comment/new/{{ id }}" method="POST" name="create_comment">
    {{ form.csrf_token }}
    <p>Content: {{ form.content }}</p>

    <p><input type="submit" value="Submit comment"></p>
  </form>
{% endblock %}
